.cart {
  background-color: white;
  border: hidden;
  }

.container-menu {
  margin-left: 55%;
  position: absolute;
  bottom: 270px;
  top: 250px;

}

body {
  font-family: 'PT Serif', serif;
}

.collection {
  border-color: white;
  font-family: 'PT Serif', serif;
  font-size: 30px;
}
