#img1 {
  margin: auto;
  margin-top: 10px;
  height: 500px;
  width: 500px;
  border-radius: 50%;
  display: block;
  position: relative;
  z-index:1;
}

#img2{
  height: 350px;
  width: 350px;
}
#img3{
    height: 350px;
  width: 350px;
}