#loginFormat{
    width: 300px;
    
}


.LogInContainer{
    margin: auto;
    margin-left: 40%;
    margin-top: 200px;
    position: absolute;
    z-index: 2;
}
.formColor{
background-color:white;
opacity:0.75;
border-radius: 13%;
}